<div class="card bg-grey">
  <div class="card-header">
    <%= comment.name %>
  </div>
  <div class="card-body">
    <%= comment.content %>
  </div>
  
  <% if user_signed_in? && comment.user_id == current_user.id %>
  <div class="card-footer">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm rounded-0 btn-primary" data-toggle="modal" data-target="#comment_<%= comment.id %>">
      Edit
    </button>
    <%= link_to  "Delete", [@post, comment], method: :delete, class: 'btn btn-sm btn-danger rounded-0' %>
  </div>
  <% end %>
</div>